.body {
  background-image: url("https://scontent-ort2-2.xx.fbcdn.net/v/t39.30808-6/271059357_10165616384055543_5298337671552420249_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=ACmLHzm6LiAAX_GQdH8&_nc_ht=scontent-ort2-2.xx&oh=00_AT93rR7ZCoGdeoC6sPOaaVHZCe6Dj2YP49VOlF4g6njAGQ&oe=62938A7B.gif");
}

.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
  background-color: blanchedalmond;
}

.Weather h1 {
  font-size: 24px;
  padding: 0 auto;
  font-weight: 100;
  text-align: center;
  margin: 20px 0 0 0;
  line-height: 40px;
  color: rgb(161, 129, 40);
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: chocolate;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

footer {
  text-shadow: cadetblue;
  color: darkblue;
}
